<a href="https://colab.research.google.com/github/Vaishak1044/Fundamentals_ML_Internship_2023/blob/main/1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print and Arithmatic operators

Python basics for Machine Learning

Python is a high level, interpreter type, dynamically programmed, object oriented language

# Print and Arithmatic Operators

In [ ]:
#Print 'Hello World'
print('Hello World')

Hello World

In [ ]:
print('Hello\nworld')

Hello
world

In [ ]:
print('''First Line
Second Line
Third Line''')

First Line
Second Line
Third Line

In [ ]:
#print with seperators
print("Hello", "how are you?", sep="---")
#print("Hello", "how are you?", sep="\n")
#print("Hello", "how are you?", sep="\t")

Hello---how are you?

Arithmatic opertors

In [ ]:
10-5*2

0

In [ ]:
#modulus operator
10%6

4

In [ ]:
#floor division
3//2

1

In [ ]:
#round off
round(1.5)

2

In [ ]:
round(1.5555,2)

1.56

In [ ]:
#exponential
2**3

8

# Variables

Assign multiple values to multiple variables

In [ ]:
a,b,c=1,2,3
#a=b=c=10

In [ ]:
print(a,b,c)

10 10 10

Print by specifying the separation

In [ ]:
print(a,b,c, sep='\t')

1	2	3

In [ ]:
print(a,b,c, sep='   ')

1   2   3

# Input

Reading input

In [ ]:
a = input()
#a = input('Enter input: ')
#Note: input() reads value as a STRING

1
Enter input: 10

In [ ]:
#Type Casting
a = int(input('Enter value:'))
print(type(a))
b = float(input('Enter value: '))
print(type(b))

Enter value:10
<class 'int'>



```
# This is formatted as code
```

# Strings

STRINGS
Declared using "" or ''

In [ ]:
x='Hello'
print(x)

Hello

In [ ]:
#Multi line strings
print('''First line
         Second line
         Third line''')

First line
         Second line
         Third line

In [ ]:
#length of String
str1 = 'hello'
print(len(str1))

5

In [ ]:
#indexing
print(str1[2])

l

In [ ]:
#string slicing: 0 to n-1
print(str1[2:5])
print(str1[0:2])
print(str1[:3])
print(str1[1:])
print(str1[:])

llo
he
hel
ello
hello

In [ ]:
#String slicing with step size
print(str1[0:5:1])
print(str1[::2])
print(str1[::-1])
print(str1[-5:-1:1])
print(str1[-1:-6:-1])

hello
hlo
olleh
hell
olleh

Palindrome

In [ ]:
str1 = input('Enter a string to check: ')
if str1 == str1[::-1] :
  print('Palindrome')
else :
  print('Not a palindrome')

Enter a string to check: mom
Palindrome

String Methods

In [ ]:
str1='hello'
print(str1.upper())
print(str1.lower())
print(str1.capitalize())
str1= ' hel lo '
print(str1.split())
print(str1.strip())

HELLO
hello
Hello
['hel', 'lo']
hel lo

String concatention

In [ ]:
x = 'hello'
y = 'world'
print(x+y)
print(x+ ' '+y)

helloworld
hello world

In [ ]:
age = 10
txt = 'My age is '
standard = 4
print(txt + str(age) + ' ' +'I\'m studying in class ' + str(standard))

My age is 10 I'm studying in class 4

String format method

In [ ]:
print('%d %s cost $%.2f' % (6, 'bananas', 1.74))

6 bananas cost $1.74

In [ ]:
print(f'My age is {age} and I\'m studying in class {standard}')

item = 'product1'
price=99.99
quantity=10
print(f'Your order for {quantity} of {item} priced at {price*quantity} is confirmed')

My age is 10 and I'm studying in class 4
Your order for 10 of product1 priced at 999.9 is confirmed

In [ ]:
#@title Program to Find ASCII Value of Character

char = 'p'
print("The ASCII value of '" + char + "' is", ord(c))

#ord() function to convert a character to an integer (ASCII value). This function returns the Unicode code point of that character.

The ASCII value of 'p' is 112

In [ ]:
#Modify the code above to get characters from their corresponding ASCII values using the chr() function
chr(65)

'A'

In [ ]:
#@title Program to convert Upper case to lower case and vice versa


char1 = 'A'

ASCII = ord(char1)
print(ASCII)

if ASCII > 64 and ASCII < 91:
  print('Char is in upper case')
  ASCII  +=  32
  small_case = chr(ASCII)
  print(small_case)
elif ASCII > 96 and ASCII < 123:
   pass

65
Char is in upper case
a

# Conditional statements

Comparision operators:
                      ==
                      !=
                      <
                      >
                      <=
                      >=

In [ ]:
#ask
print(10==10)
print('Hello'=="Hello")

True
True

if **else** /elif/ nested if

In [ ]:
x=int(input('Enter first number: '))
y=int(input('Enter second number: '))

if x>y :
  print(f'{x} is greater than {y}')
else :
  print(f'{y} is greater than {x}')

Enter first number: 5
Enter second number: 5
5 is greater than 5

In [ ]:
#elif
x=int(input('Enter first number: '))
y=int(input('Enter second number: '))

if x>y :
  print(f'{x} is greater than {y}')
elif x<y :
  print(f'{y} is greater than {x}')
else:
   print(f'{x} = {y}')

Enter first number: 5
Enter second number: 5
5 = 5

In [ ]:
#nested if
x=int(input('Enter first number: '))
y=int(input('Enter second number: '))

if x!=y :
  if x>y :
    print(f'{x} is greater than {y}')
  else :
    print(f'{y} is greater than {x}')
else:
   print(f'{x} = {y}')

Enter first number: 2
Enter second number: 3
3 is greater than 2

In [ ]:
#Logical Operators: and, or, not
a=10
b=20

if a>b and a!=b :
  print('a is greater than b')
else :
  print('b is greater than a')

b is greater than a

In [ ]:
# pass is a keyword used if no code is written within a block and avoid indentation error
a = 10
if a<10 :
  #pass

Types of CODE: WET and DRY
WET: Write Everything Twice
DRY: Don't Repeat Yourself

In [ ]:
#ask
num = [1,2,3,4]
print(num*2)

[1, 2, 3, 4, 1, 2, 3, 4]

# LOOPS

Loops: Repeats a set of instructions as long as condition remains 'TRUE'

while loop

In [ ]:
i = 0
while i<100 :
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
#@title Check whether the string is Symmetrical or Palindrome without reversing the string

name=input("Enter the string:")
left=0   # to point to the first element
right=len(name)-1 # pointer to the last element
flag=1
while left<right:
  if name[left]!=name[right]:
    flag=0
    break
  left+=1
  right-=1
if flag==1:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter the string:sos
Palindrome

for loop: runs a set of instructions for all items in the collection

In [ ]:
#@title printing an array content num=[1,2,3,4,5] using for loop
num = [1,2,3,4,5]

for i in num :
  print(i,end='')
  #print(i,end='\t')

11	22	33	44	55

In [ ]:
str1='Hello World'
for i in str1 :
  print(i)
  #print(i,end='') #to print in a single line

H
e
l
l
o

W
o
r
l
d

In [ ]:
#@title Write a program to eliminate spaces from a String

str1 = 'Hello World'
for i in str1 :
    if i ==' ':
      pass
      #continue
      #break
    else:
      print(i, end='')

HelloWorld

break: stops entire loop when 'break' keyword is encountered
continue: skips current loop iteration and move on to next iteration of the loop

In [ ]:
#range() in for loop
for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#range() with step size
for i in range(0,10,2) :
  print(i)

0
2
4
6
8

In [ ]:
#@title print string content using string index and eliminate first index content
str1='hello world'
for i in range(len(str1)):
  if(i==0):
    pass
  else :
    print(str1[i],end='')

ello world

In [ ]:
#@title Display all the two digit numbers where the number and it's reverse are divisible by 3

for i in range(10,100):
  temp=str(i)
  rev=int(temp[1]+temp[0])
  if i%3==0 and rev%3==0:
    print(i,end=' ')

12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [ ]:
#@title Program to Find HCF or GCD
#The highest common factor (H.C.F) or greatest common divisor (G.C.D) of two numbers 
#is the largest positive integer that perfectly divides the two given numbers. 
#For example, the H.C.F of 12 and 14 is 2.

num1 = 2 
num2 = 4

# choose the smaller number
if num1 > num2:
    smaller = num2
else:
    smaller = num1
for i in range(1, smaller+1):
    if((num1 % i == 0) and (num2 % i == 0)):
        hcf = i 
    
print(f'HCF = {hcf}')

HCF = 2

The Least Common Multiple (LCM) is also referred to as the Lowest Common Multiple (LCM) and Least Common Divisor (LCD). For two integers a and b, denoted LCM(a,b), the LCM is the smallest positive integer that is evenly divisible by both a and b.

In [ ]:
#@title Program to Compute LCM
x=2
y=4
if x > y:
       greater = x
else:
       greater = y

while(True):
   if((greater % x == 0) and (greater % y == 0)):
        lcm = greater
        break
   greater += 1

print(lcm)

4

# Lists: Items in a List are ordered, changeable and allow duplicates

Ordered=indexed
changeable=manipulated
duplicates=multiple entries

In [ ]:
#@title Default title text
l1 = ['Apple','Banana','Cherry']
print(l1)
print(len(l1))
print(type(l1))
print(*l1)

['Apple', 'Banana', 'Cherry']
3
<class 'list'>
Apple Banana Cherry

In [ ]:
#ordered
print(l1[0])
print(l1[1:2])
print(l1[:2])
print(l1[-2])
print(l1[::-1])

Apple
['Banana']
['Apple', 'Banana']
Banana
['Cherry', 'Banana', 'Apple']

In [ ]:
#changeable
l1 = ['Apple','Banana','Cherry']
l1[2]='Mango'
print(l1)

l1[1:3]= ['Kiwi'] #this will replace index 1 and 2 with just one item i.e., 'Kiwi'
print(l1)

l1[1:3] = ['Banana','Cherry']
print(l1)

['Apple', 'Banana', 'Mango']
['Apple', 'Kiwi']
['Apple', 'Banana', 'Cherry']

List Methods

In [ ]:
#Append
#l1[3]='Mango' cannot be used as index would be out of range, hence use append to add items at the last
l1 = ['Apple','Banana','Cherry']

l1.append('Mango')
print(l1)

#Insert: adds an item to specified index position
l1.insert(2,'Orange')
print(l1)

#Extend: combine 2 lists/tuples/sets/dictionaries, numpy arrays as Lists
l1=['Apple','Banana','Cherry']
l2=[1,2,3]
l1.extend(l2)
print(l1)

#Sort
l1=['a','A','B','b','1']
l1.sort()
print(l1)

#Reverse
l1.reverse()
print(l1)

#Pop: l1.pop(index)
l1.pop(2)
print(l1)

l1.pop() #removes last item
print(l1)

#Delete: Python keyword, it can delete all data types including Lists
del l1[2]
print(l1)

#clear: empties the list
l1.clear()
print(l1)

#Delete: Python keyword, it can delete all data types including Lists
l1=['a','A','B','b','1']#
del l1[2]
print(l1)

del l1 # deletes l1 from memory after this l1 will not exist and gives an error if tried to print
#print(l1)

['Apple', 'Banana', 'Cherry', 'Mango']
['Apple', 'Banana', 'Orange', 'Cherry', 'Mango']
['Apple', 'Banana', 'Cherry', 1, 2, 3]
['1', 'A', 'B', 'a', 'b']
['b', 'a', 'B', 'A', '1']
['b', 'a', 'A', '1']
['b', 'a', 'A']
['b', 'a']
[]
['a', 'A', 'b', '1']

In [ ]:
l1=['a','b','c']
s='c'
for i in l1:
  if i == s:
    print('Item found')
    flag=1
  else:
    print('Item not found')
    flag=0

  if flag==1:
    print('Found')

Item not found
Item not found
Item found
Found

#List comprehensions are a concise way to create lists in Python

In [ ]:
#create a list of squares of numbers from 0 to 9 without List comprehension

l1=[]

for x in range(10):
  x=x**2
  l1.append(x)

print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#create a list of squares of numbers from 0 to 9 with List Comprehension

square_numbers = [x**2 for x in range(10)]
print(square_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#create a list of even numbers from a given list numbers without List Comprension

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1=[]
for i in numbers:
  if i%2 == 0:
    l1.append(i)
print(l1)

[2, 4, 6, 8, 10]

In [ ]:
#create a list of even numbers from a given list numbers with List Comprension

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

LISTS SUMMARY:

In [ ]:
# Initialize a list
numbers = [1, 2, 3, 4, 5]

# Print the list
print("Original list:", numbers)

# Access an item in the list
print("The second item in the list is:", numbers[1])

# Modify an item in the list
numbers[1] = 20
print("Modified list:", numbers)

# Get the length of the list
print("The length of the list is:", len(numbers))

# Append an item to the end of the list
numbers.append(6)
print("List after appending an item:", numbers)

# Remove an item from the list
numbers.remove(6)
print("List after removing an item:", numbers)

# Sort the list
numbers.sort()
print("Sorted list:", numbers)

# Reverse the list
numbers.reverse()
print("Reversed list:", numbers)

EXERCISE

Here's an exercise to help you practice working with lists in Python:

1. Create a list of the following numbers: 1, 2, 3, 4, 5.
2. Add the number 6 to the end of the list.
3. Remove the number 2 from the list.
4. Sort the list in ascending order.
5. Reverse the list.
6. Print the length of the list.
7. Print the third item in the list.
Here's one way to solve the exercise in Python code:

In [ ]:
# Initialize the list
numbers = [1, 2, 3, 4, 5]

# Add the number 6 to the end of the list
numbers.append(6)

# Remove the number 2 from the list
numbers.remove(2)

# Sort the list in ascending order
numbers.sort()

# Reverse the list
numbers.reverse()

# Print the length of the list
print("The length of the list is:", len(numbers))

# Print the third item in the list
print("The third item in the list is:", numbers[2])

# Tuple: Collection of Items, where items are ordered, immuteable and allow duplicates

In [ ]:
t1=('Apple','Banana','Cherry')
print(t1)
print(type(t1))

t2='Apple','Banana','Cherry'
print(t2)
print(type(t2))

#single value tuple must end with a comma seperator
t3 = ('Hello')
print(t3)
print(type(t3))

t4 = ('Hello',)
#t4 = 'Hello',
print(t4)
print(type(t4))

t5 = tuple(range(1, 10, 2))
print(t5)
print(type(t5))

l1=[1,2,3]
t_l1=tuple(l1)
print(t_l1)

('Apple', 'Banana', 'Cherry')
<class 'tuple'>
('Apple', 'Banana', 'Cherry')
<class 'tuple'>
Hello
<class 'str'>
('Hello',)
<class 'tuple'>
(1, 3, 5, 7, 9)
<class 'tuple'>
(1, 2, 3)

In [ ]:
#ordered
print(t1[2])
print(t1[:2])
print(t1[::-1])

Cherry
('Apple', 'Banana')
('Cherry', 'Banana', 'Apple')

In [ ]:
#immuteable
#t1[2] = 'Mango' --> this doesn't work as items in a Tuple cannot be changed
#To change an item, convert tuple to list and then change
l1=list(t1)
print(l1)

['Apple', 'Banana', 'Cherry']

In [ ]:
l1[2]='Mango'
print(l1)

t1=tuple(l1)
print(t1)

['Apple', 'Banana', 'Mango']
('Apple', 'Banana', 'Mango')

Tuple Methods

In [ ]:
#There are no Tuple methods as Items in a Tuple are immuteable, so convert them to List and use List methods
l1=list(t1)
l1.append('Mango')
l1.sort()
print(l1)

['Apple', 'Banana', 'Mango', 'Mango']

# Set: Items in a Set are Unordered, unchangeable and don't allow duplicates

Note: Set is 10 times faster than List and Tuple as it's Unordered

In [ ]:
#unordered: everytime program executes, the order changes
s1 = {'a','b','c','d'}
print(s1)

{'b', 'c', 'd', 'a'}

In [ ]:
#Accessing an item is Sets: use loops
s1 = {'a','b','c','d'}
for i in s1:
  if i=='d' :
    print(i)

d

In [ ]:
#convert SET to a LIST
l1 = list(s1)
print(l1)

['c', 'd', 'b', 'a']

Set methods

In [ ]:
#Unchangeable: Items cannot be changed or replaced, but new items can be added and removed
s1 = {'a','b','c','d'}
s1.add('e') #item can get added to any place as there is no order
print(s1)

{'d', 'b', 'a', 'e', 'c'}

In [ ]:
s1 = {'a','b','c','d'}
s2={1,2,3}
s1.update(s2) #same as Append in Lists
print(s1)

#List or Tuple can also be added to a Set
l1=[1,2,3]
s1={'a','b','c'}
s1.update(l1)
print(s1)

#Remove
s1={'a','b','c'}
s1.remove('a')
print(s1)

#Discard: this will not throw an error if the item we try to remove is not in the Set
s1={'a','b','c'}
s1.discard('a')
print(s1)

#Clear and Delete
s1.clear()
print(s1)

del s1

{1, 2, 3, 'd', 'b', 'c', 'a'}
{1, 2, 3, 'b', 'a', 'c'}
{'b', 'c'}
{'b', 'c'}
set()

Set Operations: Union, Intersection, Symmetric difference

In [ ]:
s1 = {'a','b','c','d'}
s2 = {'c','d','e','f'}

#Union
s3=s1.union(s2)
print(s3)

#Intersection
s4=s1.intersection(s2)
print(s4)

#Symmetric difference
s5=s1.symmetric_difference(s2)
print(s5)

s6 = s1 - s2
print(s6)

s7 = s2 - s1
print(s7)

{'f', 'd', 'b', 'a', 'e', 'c'}
{'c', 'd'}
{'f', 'b', 'a', 'e'}
{'a', 'b'}
{'f', 'e'}

In [ ]:
#Program to find total time wasted purposefuly by Internship candidates
break_end_time = '11:15'
actual_break_end_time = '11:35'
total_break_time = 15 #in_mins

break_end_time_sep = break_end_time.split(sep=':')
actual_break_end_time_sep = actual_break_end_time.split(sep=':')

diff_hrs = int(actual_break_end_time_sep[0])-int(break_end_time_sep[0])
diff_mins = int(actual_break_end_time_sep[1])-int(break_end_time_sep[1])

exceeded_time = diff_hrs*60+diff_mins #in_mins
print('Exceeded time in %= {exceeded_time} in mins')
 

print(str(diff_hrs)+ 'hrs : '+ str(diff_mins) + 'mins')

exceeded_time_in_perc = (100*exceeded_time) / (total_break_time)
print(f'exceed_time: {exceeded_time_in_perc} %')

print(f'Exceeded time for 15 days in hrs: {exceeded_time*15*2/60}')
print(f'Exceeded time for 15 days in days: {exceeded_time*15*2/60/5}')

print(f'Loss of Pay: {(exceeded_time*15*2/60/5)*1000}')

Exceeded time in %= {exceeded_time} in mins
0hrs : 20mins
exceed_time: 133.33333333333334 %
Exceeded time for 15 days in hrs: 10.0
Exceeded time for 15 days in days: 2.0
Loss of Pay: 2000.0

# Dictionary: Ordered, changeable and don't allow duplicate keys.
Items in a Dictionary are stored in Key:Value pair

In [ ]:
d1 = {
        'Name':'Vaishakh',
        'LastName':'R',
        'Age':28,
        'Module':True
}

print(d1)
print(type(d1))

{'Name': 'Python', 'LastName': 'Program', 'Age': 28, 'Module': True}
<class 'dict'>

Note: Items in a Dictionary cannot be accessed by Index values but by their Key

In [ ]:
d1 = {
        'Name':'Python',
        'LastName':'Program',
        'Age':28,
        'Module':True
}

print(d1['Name'])

Python

Dictionary Methods

In [ ]:
#get('Key')
print(d1.get('Name'))

Python

In [ ]:
#keys
print(d1.keys())

dict_keys(['Name', 'LastName', 'Age', 'Module'])

In [ ]:
#values
print(d1.values())

dict_values(['Python', 'Program', 28, True])

In [ ]:
#items
print(d1.items())

dict_items([('Name', 'Python'), ('LastName', 'Program'), ('Age', 28), ('Module', True)])

In [ ]:
#Changing value of a Key
d1 = {
        'Name':'Python',
        'LastName':'Program',
        'Age':28,
        'Module':True
}

print(d1['LastName'])
d1['LastName'] = 'IDE'
print(d1['LastName'])

print(d1['Age'])
d1.update({'Age':40})
print(d1['Age'])

Program
IDE
28
40

In [ ]:
#Accessing list value of a key
d1 = {
      'Key1' : ['a','b','c'],
      'Key2' : 'x'
}

print(d1['Key1'][0])

a

In [ ]:
#Append a value for a Key
d1 = {
      'Key1' : ['a','b','c'],
      'Key2' : 'x'
}

d1['Key1'].append('d')
print(d1)

{'Key1': ['a', 'b', 'c', 'd'], 'Key2': 'x'}

In [ ]:
#Update
d1 = {
      'Key1' : ['a','b','c'],
      'Key2' : 'x'
}

d1.update({'Key2':'y'})
print(d1)

{'Key1': ['a', 'b', 'c'], 'Key2': 'y'}

In [ ]:
#Pop
d1 = {
      'Key1' : ['a','b','c'],
      'Key2' : 'x'
}

d1.pop('Key2')
print(d1)

{'Key1': ['a', 'b', 'c']}

In [ ]:
#clear
#Pop
d1 = {
      'Key1' : ['a','b','c'],
      'Key2' : 'x'
}

d1.clear()
print(d1)

{}

In [ ]:
#Delete
#Pop
d1 = {
      'Key1' : ['a','b','c'],
      'Key2' : 'x'
}

del d1['Key1']
print(d1)

del d1

{'Key2': 'x'}

In [ ]:
#use a for loop to iterate over the keys or values of a dictionary in Python

#Iterating over the keys
d1 = {
        'Name':'Python',
        'LastName':'Program',
        'Age':28,
        'Module':True
}

for i in d1:
  print(i)

Name
LastName
Age
Module

In [ ]:
#Iterating over the values
d1 = {
        'Name':'Python',
        'LastName':'Program',
        'Age':28,
        'Module':True
}

for i in d1.values():
  print(i)

Python
Program
28
True

In [ ]:
#Iterating over both the keys and values:
d1 = {
        'Name':'Python',
        'LastName':'Program',
        'Age':28,
        'Module':True
}

for i,j in d1.items():
  print(i, j)
  #print(f'{i}={j}')

Name Python
Name=Python
LastName Program
LastName=Program
Age 28
Age=28
Module True
Module=True

# Function: User defined block of code which runs when called

A Function takes parameter and arguments

SYNTAX:
        def function_name():
          code
            .
            .
            .

In [ ]:
def f1(name) : #here name is Parameter/Variable
    print(f'Hello {name}')

f1('Python') #here Python is an Argument/Value

Hello Python

In [ ]:
#Default Parameter
def f1(name = 'User') : #print User when no argument is passed
  print(f'Hello {name}')

f1('Python')
#f1(input('Enter Name: '))
f1()

Hello Python
Enter Name: java
Hello java
Hello User

In [ ]:
#If number of Arguments are not known
def f1(*name) :
  print(f'Hello {name}')

f1('Python','Java')

Hello ('Python', 'Java')

In [ ]:
#Access individual Arguments when their count is unknown
#function with an arbitrary number of arguments
#The *args syntax allows you to pass an arbitrary number of arguments to a function, 
#and the arguments are passed as a tuple
def f1(*name) :
  for x in name :
    print(f'Hello {x}')

f1('Python','Java')

Hello Python
Hello Java

In [ ]:
#If number of Parameters is not known
#function with an arbitrary number of keyword arguments
#**kwargs syntax allows you to pass an arbitrary number of keyword arguments to a function, 
#and the arguments are passed as a dictionary. 
def f1(**name) :
  for x,y in name.items() :
    print(f'{x}={y}')

f1(FirstName='Python',LastName='Java')

FirstName=Python
LastName=Java

In [ ]:
#Function with a return value
def f1(x) :
  return x;

print(f1(10))

10

In [ ]:
#@title Write a user defined function to find the median of a list of numbers without using any built-in functions

def find_median(numbers):
    # sort the list of numbers
    numbers.sort()
    
    # find the length of the list
    length = len(numbers)
    
    # check if the list is of even length
    if length % 2 == 0:
        # if the list is of even length, return the average of the two middle elements
        return (numbers[length // 2 - 1] + numbers[length // 2]) / 2
    else:
        # if the list is of odd length, return the middle element
        return numbers[length // 2]


# create a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# find the median of the list of numbers
median = find_median(numbers)
print("Median: ", median)

Median:  5.5

In [ ]:
#@title Write a function which takes your weight on Earth and returns the weight on Moon and Mars

def find_weight(weight):
  mass = weight/9.81 #in kg

  weight_moon = mass * 1.621
  weight_mars = mass * 3.711

  return weight_moon, weight_mars

weight = float(input('Enter your weight: '))

moon_weight, mars_weight = find_weight(weight)
print(weight, moon_weight, mars_weight)

Enter your weight: 80
80.0 13.219164118246686 30.26299694189602

In [ ]:
#@title Write a function which takes your height in cms and converts it to inches

In [ ]:
#@title Write a function that takes in a string and returns the number of vowels in it

def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

num_vowels = count_vowels('Alpha')
print(num_vowels)

2

In [ ]:
#Write a f1 function